.board-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex: 2;

  max-width: 90vw;
}

.board-wrap .board-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

  margin-bottom: 6px;

  max-width: 100%;
}

.board-wrap .board-row.shake {
  animation: shakeRow 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
@keyframes shakeRow {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.board-wrap .board-row .board-letter {
  transition: all 300ms;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;

  --size: 4rem;

  width: var(--size);
  height: var(--size);
  margin: 4px;

  text-transform: uppercase;
  font-weight: bold;

  background: var(--letter-selected-row-bg-color);
  color: var(--text-color);

  border-radius: 4px;

}

.board-wrap .board-row[data-active=""] {
  height: 50px;
}
.board-wrap .board-row[data-active=""] .board-letter {
  max-height: 50px;
  background: var(--letter-bg-color);
}

.board-wrap .board-row.not-in-dictionary .board-letter {
  background: var(--not-in-dictionary-bg-color);
}


.board-wrap .board-row[data-active="active"] .board-letter.pop
{
  animation: popLetter 100ms alternate 1 ease-in-out
}
@keyframes popLetter {
  from {transform: scale(1);}
  to {transform: scale(1.1);}
}

.board-wrap .board-row[data-active="active"] .board-letter[data-active="active"]
{
  animation: glowLetter 1200ms alternate infinite ease-in-out
}
@keyframes glowLetter {
  from {background: var(--letter-selected-row-bg-color);}
  to {background: var(--letter-color-glow);}
}


.board-wrap .board-row .board-letter[data-type="correct-spot"] {
  background: var(--letter-correct-spot-bg-color);
}

.board-wrap .board-row .board-letter[data-type="in-word"] {
  background: var(--letter-bg-in-word-color);
}

.board-wrap .board-row .board-letter[data-type="not-in-word"] {
  color: var(--letter-not-in-word-text-color);
}
