.keyboard-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex: 1;
  max-width: 100vw;
  max-height: 300px;
  width: min(680px, 95vw);

  padding: 15px 0px
}
.keyboard-wrap .row {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  max-width: 100%;

  padding:4px 0px;
}

.keyboard-wrap .letter {
  display: flex;
  justify-content: center;
  align-items: center;

  --size: 4rem;
  height: 100%;
  width: var(--size);

  margin: 2px;

  text-transform: uppercase;

  background: var(--keyboard-letter-background);
  border-radius: 5px;

  color: var(--keyboard-text-color);
  font-weight: bold;

  cursor: pointer;
}


.keyboard-wrap .letter[data-type="correct-spot"] {
  background: var(--letter-correct-spot-bg-color);
}

.keyboard-wrap .letter[data-type="in-word"] {
  background: var(--letter-bg-in-word-color);
}

.keyboard-wrap .letter[data-type="not-in-word"] {
  color: var(--letter-not-in-word-text-color);
}
