body
{
  --game-bg-color: rgba(31,41,55,1);

  --navbar-bg-color: rgba(17,24,39, 1);
  --hamburger-open-bg-color: rgba(107, 114, 128, 1);
  --menu-bg-color: #28434F;

  --text-color: #fff;
  --keyboard-text-color: #fff;
  --board-text-color: #000;

  --letter-selected-row-bg-color: rgba(107, 114, 128, 1);
  --letter-bg-color: rgba(17,24,39, 1);
  --letter-color-glow: rgba(24,78,99, 1);

  --letter-correct-spot-bg-color: rgba(83,141,78, 1);
  --letter-bg-in-word-color: rgba(181,159,59, 1);

  --keyboard-letter-background: rgba(107, 114, 128, 1);

  --letter-not-in-word-text-color: rgba(171, 171, 171, 1);

  --message-bg-color: rgba(255,255,255, 0.8);
  --message-text-color: rgba(50,50,50, 1);

  --not-in-dictionary-bg-color: rgba(225, 29, 72, 1);
}
